html {
  overflow-x: hidden;
  max-width: 100%;
  max-height: 1000px;
  text-align: center;
}


/* entire robot*/
.robot {
  /*position: relative;*/
  /*left: 200px;*/
  width: 250px;
  margin: 0 auto;
}

/* antenna thingy */
.beep {
  width: 5px;
  height: 0;
  border: 5px solid transparent;
  border-top: 10px solid #777;
  border-bottom: 80px solid #888;
  position: relative;
  left: 140px;
}

/* keyframes that help with the blink animation */
@keyframes blink {
  50% {
    background: radial-gradient(circle, hotpink 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
  }
}
@-webkit-keyframes blink {
  50% {
    background: -webkit-radial-gradient(circle, hotpink 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
  }
}
@-moz-keyframes blink {
  50% {
    background: -moz-radial-gradient(circle, hotpink 15%, transparent 40%), #cc5;
    background-size: 75px 150px;
  }
}

/* this takes the blink animation and gives it time in seconds and loop infinitely*/
.laser {
  animation: blink .5s infinite;
  -webkit-animation: blink .5s infinite;
  -moz-animation: blink .5s infinite;
}


.brain {

  /* normal state of eyes 2 gradial radiants */
  background: radial-gradient(circle, purple 15%, transparent 40%), #C1C1BD;
  background: -moz-radial-gradient(circle, purple 15%, transparent 40%), #C1C1BD; 
  background: -webkit-radial-gradient(circle, purple 15%, transparent 40%), #C1C1BD;
  background-size: 75px 150px; /* eyes or the size of the circles */
  
  /*height and width of head */
  height: 150px;
  width: 150px;

  /* curvature of corners*/
  border-radius: 60px 60px 10px 10px;
  border-bottom: 40px solid #666;
  position: relative;
  left: 70px;
}


.torso {
  height: 0;
  width: 140px;
  border-top: 300px solid #C1C1BD;
  border-left: 75px solid transparent;
  border-right: 75px solid transparent;
  border-radius: 20px 20px 100px 100px;
}


.left {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: rotate(200deg);
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  position: relative;
  top: -320px;
  left: -190px;
  z-index: -1;
}


.right {
  font-family: 'Poller One', verdana, arial, sans-serif;
  font-weight: bold;
  font-size: 250px;
  color: #666;
  transform: scaleY(-1) rotate(20deg);
  -webkit-transform: scaleY(-1) rotate(20deg);
  -moz-transform: scaleY(-1) rotate(20deg);
  position: relative;
  top: -620px;
  left: 190px;
  z-index: -1;
}


.foot {
  height: 40px;
  width: 40px;
  background: #ccc;
  border-radius: 40px;
  border: 15px solid #999;
  position: relative;
  left: 110px;
  top: -10px;
  z-index: -1;
}

/* the set up of keyframes dance*/
@keyframes dance {
 from {
  left: 800px;
  bottom: 0px;
 }
}

@-webkit-keyframes dance {
 from {
  left: 800px;
  bottom: 0px;
 }
}

@-moz-keyframes dance {
 from {
  left: 800px;
  bottom: 0px;
 }
}

.dancing {
  max-height: 1000px;
  animation: dance 4s infinite;
  -webkit-animation: dance 4s infinite;
  -moz-animation: dance 4s infinite;
  position:  relative;
  left: 10px;
  /*position: absolute;*/
  /*top: 550px;*/ 
  /*bottom: 0px; no margin to the bottom of page
  left: 300px;*/
}
