

/* original body styles*/
/*body {
  text-align: center;
  background: url("../img/ggb-background.jpg");
  background-size: cover;
  background-position: center;
  color: darkblue;
  font-family: helvetica;
}*/

html {
  text-align: center;
  color: darkblue;
  font-family: helvetica;
  background: url(../img/ggb-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

p {
  font-size: 22px;
}


input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}


input[type="submit"] {
  background: red;
  color: white;

}

ul {
  width: 300px;
  margin: 0 auto;
  text-align: left;

}

#container {
  width: 90%;
  margin: 0 auto;
}