
body {
  text-align: center;
  background: url("../img/white-background.png");
  background-size: cover;
  background-position: center;
  color: darkblue;
  font-family: helvetica;
}

p {
  font-size: 22px;
}


input {
  border: 0;
  padding: 10px;
  font-size: 18px;
}


input[type="submit"] {
  background: red;
  color: white;

}

ul {
  width: 300px;
  margin: 0 auto;
  text-align: left;

}

#container {
  width: 90%;
  margin: 0 auto;
}